<div><breadcrumb replacements="breadcrumbReplacements"/></div>

<div class="row">
    <div class="col-md-6">
        <button ng-click="addCompleteForm()" class="btn btn-primary">
            <span class="fui-plus"></span>Complete Form
        </button>
        <button ng-click="addClickEvent()" class="btn btn-primary">
            <span class="fui-plus"></span>Click Event
        </button>
        <button ng-click="addScrape()" class="btn btn-danger">
            <span class="fui-upload"></span>Scrape Data
        </button>
        <button ng-click="editBasicDetails()" class="btn btn-info" style="float:right">
            <span class="fui-new"></span>Edit Basic Details
        </button>
        <table class="table" style="margin:10px">
            <tr ng-repeat="s in site.steps">
                <td class="two-cols-column-long">
                    <label>{{ s.name }} ({{ s.type }})</label>
                </td>
                <td class="two-cols-column-short">
                    <a class="btn btn-primary" ng-click="editStep(s)">Edit</a>
                    <a class="btn btn-danger" ng-click="deleteStep($index)">Delete</a>
                </td>
            </tr>
        </table>
        <p>
            <small>Once you have the necessary steps to arrive to the page where
                the data is, and how to scrape it, you can proceed to either
                <strong>export the configuration</strong> to JSON or Casper script format;
                or you can <strong>run the scraper</strong> straight away from here.
            </small>
        </p>

        <a class="btn btn-primary" ng-click="exportSite(site)">Export</a>
        <a class="btn btn-primary" ng-click="runSite(site)">Run</a>
    </div>
    <div class="col-md-6">
        <div class="tile" style="text-align:left">
            <h6>Complete Form</h6>
            <small>Use the "Complete Form Step" to add values to a form and then either
                use enter or a button to submit the data
            </small>
            <h6>Click Event</h6>
            <small>Use the "Click" step to trigger a click event on any element of the page.
            </small>
        </div>
    </div>
</div>
