<div><breadcrumb replacements="breadcrumbReplacements"/></div>

<div class="col-md-12">
    <div class="form-group form-inline" role="form">
        <div class="form-group">
            <select class="form-control select select-primary" select2 ng-model="selectedService"
                    ng-options="s as s.name for s in services | filter:{ enterpriseApi : 'webauthorapi' }"
                    data-placeholder="Run in service ...">
                <option></option>
            </select>
        </div>
        <div class="form-group">
            <input type="number" ng-model="timeout" class="form-control" placeholder="Timeout (in seconds)">
        </div>
        <div class="form-group">
            <button ng-click="!running && run()" class="btn btn-primary" ng-disabled="running">Run</button>
            <button ng-click="goBack()" class="btn">Cancel</button>
        </div>
    </div>

    <div class="form-group form-inline" role="form" ng-show="executionResult">
        <div class="form-group" style="float:left">
            <h6>Results:</h6>
        </div>
        <div class="form-group" style="float:right">
            <label>Satisfied with the results?</label>
            <button ng-click="createDatasource()" class="btn">Create New Datasource</button>
        </div>
    </div>
</div>

<div class="col-md-12" ng-show="executionResult">
    <pre>{{executionResult}}</pre>
</div>