<div><breadcrumb/></div>

<div class="row">
    <div class="col-md-8">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>

                <div class="col-sm-10">
                    <input ng-model="site.name" class="form-control" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Site URL</label>

                <div class="col-sm-2">
                    <a class="btn btn-info" ng-click="extractSiteDetailsFromCurrentTab()">Get from current page</a>
                </div>
                <div class="col-sm-6">
                    <input type="url" ng-model="site.url" class="form-control" placeholder="URL">
                </div>
                <div class="col-sm-2">
                    <a class="btn btn-primary" ng-disabled="!site.url" ng-click="openSiteURLInCurrentTab()">Open in current tab</a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Use Basic Auth</label>

                <div class="col-sm-10 form-inline">
                    <input type="checkbox" ng-model="useBasicAuth">
                    <div class="form-group form-inline" ng-show="useBasicAuth">
                        <input ng-model="site.credentials.user" class="form-control" placeholder="Username">
                        <input ng-model="site.credentials.pass" class="form-control" placeholder="Password" type="password">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-click="create()" class="btn btn-primary">Save</button>
                    <button ng-click="goBack()" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4" ng-hide="editMode">
        <div class="tile">
            <h4>Creating a new Project</h4>
            <p>By creating a new Project you can then record the steps for scraping data out of a website.</p>
        </div>
    </div>
</div>
