<div><breadcrumb/></div>

<div class="col-md-8">
    <a ng-click="createNewProject()" class="btn btn-primary">Add New Project</a>

    <table class="table">
        <tr ng-repeat="s in sites">
            <td class="two-cols-column-long">
                <label>{{ s.name }}</label>
            </td>
            <td class="two-cols-column-short">
                <a class="btn btn-primary" ng-click="openProjectDetails(s)">Open</a>
                <a class="btn btn-primary" ng-click="exportProject(s)">Export</a>
                <a class="btn btn-primary" ng-click="runProject(s)">Run</a>
                <a class="btn btn-danger" ng-click="deleteProject($index)">Delete</a>
            </td>
        </tr>
    </table>
</div>