<ol class="breadcrumb">
    <li><a href="#/">Scraper Generator</a></li>
    <li class="active">Projects</li>
</ol>
<div class="col-md-8">
    <a ng-click="createNewProject()" class="btn btn-primary">
        <span class="fui-plus"></span>
        Add New Project</a>

    <table class="table">
        <tr ng-repeat="s in sites">
            <td ng-click="openProjectDetails(s)" class="two-cols-column-long">
                <a><label>{{ s.name }}</label></a>
            </td>
            <td class="two-cols-column-short">
                <a class="btn btn-primary" ng-click="exportProject(s)">Export</a>
                <a class="btn btn-primary" ng-click="runProject(s)">Run</a>
                <a class="btn btn-danger btn-sm" ng-click="deleteProject($index)"><span class="fui-cross"></span>Delete</a>
            </td>
        </tr>
    </table>
</div>