<ol class="breadcrumb">
    <li>Scraper Generator</a></li>
    <li><a href="#/zero">My Projects</a></li>
    <li><a href="#/two/{{site.name}}">{{site.name}}</a></li>
    <li class="active">Export</li>
</ol>
<button ng-click="showScript()" ng-class="{'btn-primary':jsonVisible}" class="btn">Script</button>
<button ng-click="showJson()" ng-class="{'btn-primary':scriptVisible}" class="btn">JSON</button>
<br>
<br>
<pre ng-show="jsonVisible">{{json}}</pre>
<pre ng-show="scriptVisible">{{script}}</pre>
