<ol class="breadcrumb">
    <li>Scraper Generator</a></li>
    <li><a href="#/zero">My Projects</a></li>
    <li><a href="#/two/{{site.name}}">{{site.name}}</a></li>
    <li class="active">Run</li>
</ol>
<div class="col-md-4" ng-show="authRequired">
    <div class="tile">
        <div class="form-group">
            <input type="text" ng-model="marketplaceURL" class="form-control"
                   placeholder="(e.g. https://your-company.kidocloud.com)"/>
            <hr>
            <button ng-click="authenticate()" class="btn">Authenticate</button>
        </div>
    </div>
</div>
<div class="col-md-8" ng-show="!authRequired && !executionResult">
    <label>Run in:</label>
    <div class="form-inline" role="form">
        <a ng-click="createNewService()" class="btn btn-primary"><span class="fui-plus"></span>New Service</a>
        <label>Timeout (in seconds):</label>
        <input ng-model="timeout" class="form-control" placeholder="timeout">
    </div>
    <table class="table" ng-model="services">
        <tr ng-repeat="s in services" ng-click="!running && runIn(s)">
            <td class="two-cols-equal-width">
                <a><label>{{ s.name }}</label></a>
            </td>
            <td class="two-cols-equal-width">
                <label>{{ s.runOn.type === 'agent' ? s.runOn.name : 'cloud' }}</label>
            </td>
        </tr>
    </table>
</div>
<div ng-show="executionResult">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-click="!running && runAgain()" class="btn btn-primary" ng-disabled="running">Run Again</button>
            <button ng-click="back()" class="btn">Back</button>
        </div>
    </div>
    <h6>Results:</h6>
    <pre>{{executionResult}}</pre>
</div>