<ol class="breadcrumb">
    <li>Scraper Generator</li>
    <li><a href="#/zero">My Projects</a></li>
    <li><a href="#/two/{{site.name}}">{{site.name}}</a></li>
    <li class="active">Run</li>
</ol>
<div class="col-md-4" ng-show="authRequired">
    <div class="tile">
        <div class="form-group">
            <input type="url" ng-model="marketplaceURL" class="form-control"
                   placeholder="(e.g. https://your-company.kidocloud.com)"/>
            <hr>
            <button ng-click="authenticate()" class="btn">Authenticate</button>
        </div>
    </div>
</div>
<div class="col-md-8" ng-show="!authRequired && !executionResult">
    <div class="form-inline" role="form" style="float:left">
        <h6>Run in Service</h6>
    </div>
    <div class="form-inline" role="form" style="float:right">
        <label>Timeout (in seconds):</label>
        <input type="number" ng-model="timeout" class="form-control" placeholder="timeout">
    </div>
    <table class="table" ng-model="services">
        <tr>
            <td class="three-cols-main-column">
                <input ng-model="newServiceName" ng-pattern="/^[-a-zA-Z0-9,&]+$/" class="form-control" placeholder="New Service">
            </td>
            <td class="three-cols-main-column">
                <select class="form-control select select-primary" select2 ng-model="runOn"
                        ng-options="a.name group by a.type for a in agents" data-placeholder="Choose where this service will run ...">
                    <option></option>
                </select>
            </td>
            <td class="three-cols-secondary-column" align="right">
                <a ng-click="createNewService()" class="btn btn-primary"><span class="fui-plus"></span>Create New
                    Service</a>
            </td>
        </tr>
        <tr ng-repeat="s in services" ng-show="s.enterpriseApi === 'webauthorapi'">
            <td class="three-cols-main-column">
                <a ng-click="!running && runIn(s)"><label>{{ s.name }}</label></a>
            </td>
            <td class="three-cols-secondary-column">
                <label>{{ s.runOn.type === 'agent' ? s.runOn.name : 'kidozen' }}</label>
            </td>
            <td class="three-cols-secondary-column" align="right">
                <button ng-click="deleteService($index)" class="btn btn-danger btn-sm">
                    <span class="fui-cross"></span>
                    Delete
                </button>
            </td>
        </tr>
    </table>
</div>
<div ng-show="executionResult">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-click="!running && runAgain()" class="btn btn-primary" ng-disabled="running">Run Again</button>
            <button ng-click="back()" class="btn">Back</button>
        </div>
    </div>
    <h6>Results:</h6>
    <pre>{{executionResult}}</pre>
</div>