<div class="form-group">
    <label class="col-md-2 control-label">Fields</label>

    <div class="col-md-10">
        <button ng-click="addSelector()" class="btn btn-primary btn-sm">Add Field</button>
        <div ng-repeat="s in currentStep.selectors">
            <div class="form-inline" role="form">

                <div class="form-group">
                    <button ng-click="selectSelector($index)" class="btn btn-info">Select it!</button>
                    <input ng-model="s.key" class="form-control" placeholder="CSS Selector">
                    <input ng-model="s.value" class="form-control" placeholder="Enter Value">
                    <input id="parameterizableCheckbox" type="checkbox" ng-model="s.isParameterizable">
                    <label for="parameterizableCheckbox">Is parameterizable</label>
                </div>

                <button ng-click="removeSelector($index)" class="btn btn-danger">Remove</button>

                <div class="form-group form-inline" ng-show="s.isParameterizable">
                    <input ng-model="s.param.name" class="form-control" placeholder="Name">
                    <!--select style="min-width:auto; width: auto" class="select select-primary" select2 ng-model="s.param.type"
                            ng-options="p for p in validParamTypes"
                            data-placeholder="Param Type">
                        <option></option>
                    </select-->
                    <input ng-model="s.param.default" class="form-control" placeholder="Default">
                    <input id="requiredCheckbox" type="checkbox" ng-model="s.param.required">
                    <label for="requiredCheckbox">Required</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-md-2 control-label">Submit Button</label>

    <div class="col-md-10">
        <div class="form-inline" role="form">
            <button ng-click="selectSelector(-1)" class="btn btn-info">Select it!</button>
            <input ng-model="currentStep.submit.key" class="form-control" placeholder="CSS Selector" style="width:91%;float:right">
        </div>
    </div>
</div>