<div class="form-group">
    <label class="col-md-2 control-label">Select</label>

    <div class="col-md-10">
        <div class="form-inline" role="form">
            <button ng-click="selectSelector()" class="btn btn-info"><i class="fa fa-crosshairs"></i> Select it!</button>
            <input ng-model="currentStep.key" class="form-control" placeholder="CSS Selector">
            <input ng-model="currentStep.label" class="form-control" placeholder="Visible Text">
        </div>
    </div>
</div>