<ol class="breadcrumb">
    <li>Scraper Generator</a></li>
    <li class="active"><a href="#/zero">My Projects</a></li>
</ol>
<div class="col-md-8">
    <a ng-click="addNewSite()" class="btn btn-primary">
        <span class="fui-plus"></span>
        Add New Project</a>

    <table class="table">
        <tr ng-repeat="s in sites">
            <td ng-click="open(s)" class="two-cols-column-long">
                <a><label>{{ s.name }}</label></a>
            </td>
            <td class="two-cols-column-short">
                <button ng-click="deleteSite($index)" class="btn btn-danger btn-sm">
                    <span class="fui-cross"></span>
                    Delete
                </button>
            </td>
        </tr>
    </table>
</div>