<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="../../lib/angular.min.js"></script>
    <script type="text/javascript" src="../../lib/angular-route.min.js"></script>
    <script type="text/javascript" src="../../script/devtools/panel.js"></script>
    <script type="text/javascript" src="../../script/devtools/model/StepForm.js"></script>
    <script type="text/javascript" src="../../script/devtools/model/StepFormSelector.js"></script>
    <script type="text/javascript" src="../../script/devtools/model/StepFormSubmit.js"></script>
</head>

<body ng-app="KidoScrape">
    <div ng-view></div>
</body>

</html>
