<!DOCTYPE html>
<html>
    <head>
        <title>Kido Scraper</title>
        <!-- Bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../../assets/flat-ui/css/vendor/bootstrap.min.css">

        <link rel="stylesheet" href="../../assets/flat-ui/css/flat-ui.min.css">

        <link rel="stylesheet" href="../../assets/font-awesome-4.3.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="../../assets/loading-bar.css">

        <link rel="stylesheet" href="../../script/content_script/content_script.css">

        <link rel="stylesheet" href="kido-scraper.css">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- end of Bootstrap -->
    </head>

    <body ng-app="KidoScraper" class="container-fluid">

        <div ng-view></div>

        <script src="../../assets/jquery-2.0.3.js"></script>
        <script src="../../assets/jquery.base64.min.js"></script>
        <script src="../../assets/flat-ui/js/flat-ui.min.js"></script>

        <script src="../../bundle.js"></script>
        <script src="../../assets/ui-bootstrap-tpls-0.12.0.min.js"></script>
        <script src="../../assets/cssesc.js"></script>

        <script src="../../script/devtools/BackgroundScript.js"></script>
        <script src="../../script/devtools/ContentScript.js"></script>
        <script src="../../script/devtools/ContentSelector.js"></script>
        <script src="../../script/devtools/CssSelector.js"></script>

        <script src="../../assets/ng-breadcrumbs.min.js"></script>
    </body>

</html>
