<div><breadcrumb/></div>

<div class="col-md-4">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label">Name</label>

            <div class="col-md-10">
                <input ng-model="newDatasourceName" ng-pattern="/^[-a-zA-Z0-9,&]+$/"
                       regexp-matching="/^[-a-zA-Z0-9,&]+$/" class="form-control" placeholder="Name">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Project</label>

            <div class="col-md-10" ng-show="projectNameWasSpecified">
                <label>{{siteName}}</label>
            </div>

            <div class="col-md-10" ng-show="!projectNameWasSpecified">
                <select class="form-control select select-primary" select2 ng-model="siteName"
                        ng-options="p.name as p.name for p in projects"
                        data-placeholder="Choose the associated project...">
                    <option></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Service</label>

            <div class="col-md-10" ng-show="serviceNameWasSpecified">
                <label>{{serviceName}}</label>
            </div>

            <div class="col-md-10" ng-show="!serviceNameWasSpecified">
                <select class="form-control select select-primary" select2 ng-model="serviceName"
                        ng-options="s.name as s.name for s in services | filter:{ enterpriseApi : 'webauthorapi' }"
                        data-placeholder="Choose the associated service ...">
                    <option></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Method</label>

            <div class="col-md-10" ng-show="methodWasSpecified">
                <label>{{method}}</label>
            </div>

            <div class="col-md-10" ng-show="!methodWasSpecified">
                <select class="form-control select select-primary" select2 ng-model="method"
                        ng-options="m for m in methods"
                        data-placeholder="Choose the method to run ...">
                    <option></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Description</label>

            <div class="col-md-10">
                <textarea rows="3" class="form-control" ng-model="description" ng-maxlength="400"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Timeout (seconds)</label>

            <div class="col-md-4">
                <input type="number" ng-model="timeout" class="form-control" placeholder="timeout">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button ng-click="createNewDatasource()" class="btn btn-success">Create</button>
                <button ng-click="goBack()" class="btn btn-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-8" ng-show="dsBody">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-12">
                <small><label ng-show="method === 'runJson'">If you want, you can edit the JSON content.</label></small>
                <small><label ng-show="method === 'runScript'">If you want, you can edit the Casper Script. <strong>Comments
                    are not allowed and single quotes are preferred over double quotes.</strong></label></small>
                <textarea rows="20" class="form-control" ng-model="dsBody"/>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="newDsCreatedModal.html">
    <div class="modal-header">
        <h6 class="modal-title">The Datasource "{{newDatasourceName}}" was successfully created</h6>
    </div>
    <div class="modal-body text-center">
        <label>Now you can <strong>view it, edit it, test it, run it and more...</strong></label><br>
        <a href="{{marketplaceURL}}#/admin/enterprise-api/datasources/{{newDatasourceName}}?indexTest=true&test=process"
            target="_blank">at the KidoZen Application Center</a>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">OK</button>
    </div>
</script>