<ol class="breadcrumb">
    <li><a href="#/">Scraper Generator</a></li>
    <li class="active">Datasources</li>
</ol>
<div class="col-md-8">
    <table class="table" ng-model="datasources">
        <thead>
            <tr>
                <th colspan="3">
                    <a href="#/datasources/create" class="btn btn-primary">Create New Datasource</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="d in datasources" ng-show="d.serviceType === 'webauthorapi'">
                <td class="three-cols-first-column">
                    <label>{{ d.name }}</label>
                </td>
                <td class="three-cols-second-column">
                    <label>{{ d.serviceName }}</label>
                </td>
                <td class="three-cols-third-column" align="right">
                    <div class="form-inline" role="form">
                        <button ng-click="runDatasource(d)" class="btn btn-info"></span>Run</button>
                        <button ng-click="deleteDatasource($index)" class="btn btn-danger">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>