<ol class="breadcrumb">
    <li><a href="#/">Scraper Generator</a></li>
    <li><a href="#/datasources">Datasources</a></li>
    <li class="active">Run</li>
</ol>
<div class="col-md-8" ng-show="!executionResult">
    <div class="form-inline" role="form">
        <h6>{{ datasource.name }}</h6>
    </div>
    <table class="table" ng-model="datasource.params">
        <thead>
        <tr>
            <th class="col-md-3"><label>Name</label></th>
            <th class="col-md-3"><label>Type</label></th>
            <th class="col-md-3"><label>Default</label></th>
            <th class="col-md-3"><label>Value</label></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in datasource.params">
            <td>
                <label ng-class="{'required-param': p.required}">{{ p.name}}</label>
            </td>
            <td>
                <label>{{ p.type }}</label>
            </td>
            <td>
                <label>{{ p.default }}</label>
            </td>
            <td>
                <div class="form-inline" role="form">
                    <input ng-model="p.value" class="form-control" ng-required="p.required">
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-click="run()" class="btn btn-primary">Run</button>
            <button ng-click="goBack()" class="btn">Back</button>
        </div>
    </div>
</div>
<div ng-show="executionResult">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-click="!running && run()" class="btn btn-info" ng-disabled="running">Run Again</button>
            <button ng-click="back()" class="btn">Back</button>
        </div>
    </div>
    <h6>Results:</h6>
    <pre>{{executionResult}}</pre>
</div>