<!DOCTYPE html>
<html>
    <head>
        <title>Kido Scraper - Options</title>
    </head>

    <body>
        <h1>Kido Scraper</h1>

        <p>A tool to build scripts for data extraction from websites.</p>

        <p>
            Kido Scraper is a tab where that can be accessed by opening Chrome's Developer tools:
        <ul>
            <li><strong>Windows, Linux:</strong> Ctrl+Shift+I or F12</li>
            <li><strong>Mac:</strong> Cmd+Opt+I</li>
            <li><strong>Any OS:</strong> open Tools / Developer tools</li>
        </ul>
        </p>
        <p>
            Documentation is available at <a target="_blank" href="http://docs.kidozen.com/web-author-api/">Kidozen's documentation site</a>
        </p>
    </body>
</html>
